body{  
color:#5A5858; 
background-color:silver; 
} 
q{ 
text-align:center; 
text-decoration:underline; 
text-decoration-style:solid; 
text-decoration-color:red;
} 
.line{ 
background-color:grey; 
width:1885px; 
height:3px; 
}
.words1{ 
text-decoration:underline; 
text-decoration-style:dashed; 
text-decoration-color:red; 
} 
.picture1{ 
vertical-align:middle; 
border-radius:10%; 
margin-left:430px; 
border:2px solid; 
border-style:double;
border-color:grey; 
border-radius:5%; 
display: block;
} 
.picture2{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:430px; 
border-color:grey; 
border-radius:5%; 
display: block;
} 
.picture3{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:430px; 
border-color:grey; 
border-radius:5%;
display:block;
} 
.picture4{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:430px; 
border-color:grey; 
border-radius:5%;
display:block;
} 
.picture5{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:430px; 
border-color:grey; 
border-radius:5%;
display:block;
} 
.picture6{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:430px; 
border-color:grey; 
border-radius:5%;
display:block;
} 
.picture7{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:430px; 
border-color:grey; 
border-radius:5%;
display:block;
} 
.picture8{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:510px; 
border-color:grey; 
border-radius:5%; 
} 
.picture9{ 
vertical-align:middle; 
border:2px solid; 
border-style:double;
margin-left:10px; 
border-color:grey; 
border-radius:5%;
}
.clearfix{ 
clear:both; 
}
iframe{ 
display:block; 
margin-left:auto; 
margin-right:auto; 
} 
h1{ 
text-align:center; 
text-decoration:underline; 
font-style:Bold; 
} 
.text1{ 
font-family:Arial; 
font-style:Normal; 
font-size:20px;
} 
.text2{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text3{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text4{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text5{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px;
} 
.text6{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text7{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
}
.text8{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text9{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text10{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text11{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
}  
.text12{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text13{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
}
.text14{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 
.text15{ 
font-family:Arial; 
font-style:Normal;  
font-size:20px; 
} 